<div class="main">
  <div class="basics row">
    <div class="image col-xs-12 col-sm-6">
      <img src="<%= @project.photo %>" alt="">
    </div>
    <div class="details col-xs-12 col-sm-6">
      <div class="text">
        <h6><b>CLIENT:</b> <%= @project.client %></h6>
        <h6><b>DATE:</b> <%= @project.complete %></h6>
        <h6><b>ONLINE:</b> <a href="<%= @project.url %>">VIEW THE APPLICATION</a></h6>
        <br>
        <h6><b>TECH:</b>
          <%= @project.tech %>
        </h6>
      </div>
      <div class="yellow-shape">
        <img src="https://i.imgur.com/4lUFId8.png" alt="">
      </div>
    </div>
  </div>
  <div class="description">
    <h3>{ ABOUT THE PROJECT }</h3>
    <%= @projec.description %>
  </div>
</div>
